node_modules

# System files
.DS_Store
Thumbs.db

# Build artifacts
/ejecs
*.exe
*.exe~
*.dll
*.so
*.dylib

# Generated Example Files
/examples/*.lua

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Go specific
*.test
*.out
*.prof
